* {
    font-family: "Open Sans", Oswald;
}

.filter-container {
    background-color:#EFEDEE;
    padding: 15px;
    overflow: hidden;
}

body {
    background-color: #F2F2F2;
}
.filter-box {
    margin-top: 25px;
    float: left;
    /* display: inline; */
    width: 135px;
    /* border: 5px solid black; */
}

h4, h2, h3, h1 {
    /* background-color: gray; */
    /* border: 5px solid red; */
    margin: 0px;
    padding: 0px;
}

.parent-container {
    margin-top: 0px;
    background-color: white;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    /* border: 5px solid black; */
    padding: 0px 55px 45px 55px;
}

h1 {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    background-color: #173E73;
    color: white;
    padding: 20px 55px;
}

h2 {
    padding-top: 14px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0px;
    margin-top: 15px;

}

.flex-item {
    flex-grow: 0;
    width: 350px;
    height: 315px;
    /* border: 5px solid black; */
    flex-basis: 0;
    margin-right: 8px;
    margin-bottom: 25px;
}

.item-name {
    margin: 0px;
    padding: 0px;
    font-family: "Oswald";
    font-weight: bold;
}

.flex-tag {
    font-size: 12px;
    background-color: rgb(131, 213, 238);
    border-radius: 10px;
    padding: 3px 4px;
    margin-bottom: 3px;
    display: inline-block;
}

.foot1 {
    width:33.33%;
    height:280px;
    background: linear-gradient(rgba(128, 130, 235, 0.45), 
    rgba(128, 130, 235, 0.45)),
    no-repeat center/cover url('starter_files/images/donate.jpg');
    
    /* background: url("starter_files/images/donate.jpg"); */
    /* background-size: cover;
    background-color: rgba(148, 81, 187, 0.6)
    background-blend-mode: overlay; */
}

.foot2 {
    width:33.33%;
    height:280px;
    background: linear-gradient(rgba(128, 130, 235, 0.45), 
    rgba(128, 130, 235, 0.45)),
    no-repeat center/cover url('starter_files/images/volunteer.jpg');
    /* background: url("starter_files/images/volunteer.jpg");
    background-size: cover; */
}

.foot3 {
    width:33.33%;
    height:280px;
    background: linear-gradient(rgba(128, 130, 235, 0.45), 
    rgba(128, 130, 235, 0.45)),
    no-repeat center/cover url("starter_files/images/location.png");
    /* background: url("starter_files/images/location.png");
    background-size: cover; */
}
/* .blend-it {
    background-image: url('image.jpg');
    background-color: red;
    background-blend-mode: screen;
  } */
/* .foot-background {
    background-color: rgb(117, 46, 158);
    opacity:.6;
    margin:0;
    height:250px;
} */
/* background: linear-gradiant(_) url */

.foot-text {
    padding-left: 120px;
    padding-top: 90px;
    /* text-align: center; */
    height: 20rem;
    width: 15rem;
    margin: 0;
    /* background-size: contain; */
    color: white;
    /* text-align: center; */
    /* line-height: 300px; */
    font-family: Oswald;
    font-weight: lighter;
    font-size: 50px;
    /* flex: 1 1 auto; */
}

footer {
    width:1212px;
    margin-left: auto;
    margin-right: auto;
    display:flex;
    flex-wrap:wrap;
    /* margin-top: 25px; */
    padding-left: 100px;
    padding-right: 100px;
        /* border: 5px solid black; */

}